body{
  background-color: rgba(165, 227, 235, 0.815);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  margin: 25px 0;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.navItem {
  border: 1px black solid;
  text-decoration: none;
  color: black;
  padding: 10px;
  background-color: white;
}

.navItem:hover {
  background-color: whitesmoke;
}

.shiftReq {
  border: 1px solid black;
  margin: 10px 10%;
  background-color: white;
}

.shiftReq:hover{
  background-color: whitesmoke;
}

.companyReq {
  border: 1px solid black;
  margin: 10px 10%;
  background-color: white;
  padding: 10px;
}

.companyReq:hover{
  background-color: whitesmoke;
}

.mapContainer{
  border: 2px solid black;
  width: 50vw;
  height: 50vh;
}

.shiftContainer {
  display: flex;
}

.companyContainer {
  display: flex;
}

.col {
  flex: 1
}

.button {
  border: 1px solid black;
  padding: 5px;
  background-color: white;
}

.button:hover{
  background-color: whitesmoke;
}